body{
    background-color: #121212;
    color : aliceblue;
}

#search-button{
    background: linear-gradient(135deg, #363636, #004085) ;
    color: rgb(178, 199, 226);
    border: solid #006eee;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: #001add;

}

#search-input{
    border: solid #151515;
    border-radius:10px;
    background-color: #252525; 
    color: #9e9eff;
}